{% include '_header.twig' %}
<h2>{{ record.title }}</h2>

{% for img in record.images %}
<div class="large-4 columns imageholder">
    <a href="{{ image(img) }}">
        <img src="{{ thumbnail(img, 400, 260) }}" alt="a" />
    </a>
</div>
{% endfor %}
               